<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <img alt="ICT LAB" src="https://www.inatel.br/custom/templateinatelazul/images/icon/ico-ictlab-116x166.png">
  <!-- <img src="http://localhost/satellite.jpg"> -->
  <br />
  <br />
  <div>
    <button mat-raised-button color="primary" (click)="myClick()">Refresh data</button>
  </div>
  <h2 class="example-h2">Result</h2>

  <section class="example-section">
    <mat-progress-bar mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>
  </section>
  <br />
</div>

<router-outlet></router-outlet>

<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="humidity">
    <th mat-header-cell *matHeaderCellDef> Humidity </th>
    <td mat-cell *matCellDef="let element"> {{element.humidity[0]}} </td>
  </ng-container>
  <ng-container matColumnDef="bomba">
    <th mat-header-cell *matHeaderCellDef> Bomba </th>
    <td mat-cell *matCellDef="let element"> {{element.bomba[0]}} </td>
  </ng-container>
  <ng-container matColumnDef="Acionamento">
    <th mat-header-cell *matHeaderCellDef> Acionamento </th>
    <td mat-cell *matCellDef="let element"> {{element.Acionamento[0]}} </td>
  </ng-container>
  <ng-container matColumnDef="Rx">
    <th mat-header-cell *matHeaderCellDef> Rx </th>
    <td mat-cell *matCellDef="let element"> {{element.Rx[0]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>